@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.main {
  background-color: #29034d;

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1400px;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 12px;
}

.planned .group-heading {
  color: #ffa318;
}
.in-progress .group-heading {
  color: #1fc778;
}
.completed .group-heading {
  color: #1487be;
}
.stuck .group-heading {
  color: #e0465e;
}
.pending .group-heading {
  color: #a162d9;
}

.group-heading {
  font-weight: 700;
  color: #e0465e;
}

.group-heading i {
  font-size: 24px;
}

.board {
  width: 95%;
  height: 90vh;
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.group {
  flex-basis: 20%;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  border-radius: 8px;
  gap: 12px;
}

.card-container {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  overflow-y: scroll;
  padding-top: 6px;
}

.card-container.dragover {
  background-color: #380666;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  flex-shrink: 0;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  transition: all 0.2s;
  cursor: grab;
}

.card:hover {
  transform: translateY(-5px);
}

.card p:focus {
  outline: 0;
  cursor: text;
}

.planned .card:hover {
  box-shadow: 0 6px #ffa318;
}
.in-progress .card:hover {
  box-shadow: 0 6px #1fc778;
}
.stuck .card:hover {
  box-shadow: 0 6px #e0465e;
}
.completed .card:hover {
  box-shadow: 0 6px #1487be;
}
.pending .card:hover {
  box-shadow: 0 6px #a162d9;
}

.btn {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  cursor: pointer;
}

.btn--dlt {
  font-size: 12px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29034d;
  border-radius: 50%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container .btn {
  padding: 12px;
}
